body,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
img,
pre,
code,

blockquote {
	margin: 0;
	padding: 0;
	border-width: 0;
	display: flex;

}

body {
	-epub-hyphens: auto;
}

div.Basic-Graphics-Frame {
	border: .5px solid #bcbcbc;
}

div.Basic-Text-Frame {
	padding: 5px;

}

p.Basic-Paragraph {
	color: #000000;
	font-family: "Minion Pro", serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.4;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	orphans: 1;
	page-break-after: auto;
	page-break-before: auto;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	widows: 1;
}

p.Paragraph-Style-1 {
	color: #000000;
	font-family: "Mono45-Headline", sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1.3;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	orphans: 1;
	page-break-after: auto;
	page-break-before: auto;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	widows: 1;
	letter-spacing: .22em;
}

p.Paragraph-Style-2 {
	color: #000000;
	font-family: "SF Compact Display", sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 1.455;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	orphans: 1;
	page-break-after: auto;
	page-break-before: auto;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	widows: 1;
}

p.Paragraph-Style-3 {
	color: #000000;
	font-family: "SF Compact Display", sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 1.048;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	orphans: 1;
	page-break-after: auto;
	page-break-before: auto;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	widows: 1;
}

p.Paragraph-Style-4 {
	-epub-hyphens: none;
	color: #000000;
	font-family: "SF Compact Display", sans-serif;
	font-size: 25px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: .9;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	orphans: 1;
	page-break-after: auto;
	page-break-before: auto;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-transform: none;
	widows: 1;
	letter-spacing: -.04em;

}

span.Character-Style-1 {
	color: #ffffff;
	letter-spacing: .22em;
}

p.ParaOverride-1 {
	text-align: right;
}

p.ParaOverride-2 {
	-epub-hyphens: none;
}

p.ParaOverride-3 {
	text-align: center;
}

span.CharOverride-1 {
	font-size: 23px;
	letter-spacing: -.04em;
}

span.CharOverride-2 {
	font-size: 23px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -.04em;
}

span.CharOverride-3 {
	font-family: "SF Compact Display", sans-serif;
	font-size: 45px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -.08em;
	line-height: 45px;
	margin-top: 30px;

}

span.CharOverride-4 {
	font-family: "SF Compact Display", sans-serif;
	font-style: normal;
	font-weight: 300;
}

span.CharOverride-5 {
	font-family: "SF Compact Display", sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
}

#image {
	height: 60px;
}

#particles-js {
	position: absolute;
	width: 100vh;
	height: 200px;
	background-color: black;
	/* background-image: url("");
	background-repeat: no-repeat;
	background-size: cover; */
	/* background-position: 50% 50%; */
}


#l_pane {
	width: 255px;
	display: flex;
	flex-direction: column;
	height: 100vh;

	border-width: 0;
}

#m_pane {
	width: 310px;
	display: flex;
	flex-direction: column;
	border-width: 0;
	border-right: .35px solid rgb(213, 213, 213);

}

#m_copy {
	padding: 0 35px 0 35px;
	margin: 105px 0 0 0;
}

#r_pane {
	display: flex;
	flex-direction: column;
	/* border: solid; */
	width: 100vh;
	height: 263px;
	background-color: #000000;
	width: -webkit-fill-available;
}

#dispWidg {
	display: flex;
	flex-direction: row;
	height: 95px;
	/* border: solid red; */
	width: 500px;
	margin: 20px 0 0px 28px;
	/* padding: 15px 0 0 0; */
}

#featuredProj {
	background-color: white;
	width: 980px;
	height: 900px;
	align-items: center;
	position: relative;
	padding: 40px;
	top: 85px;


}

#fp_row1 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 30px;
	margin-top: 35px;
	width: 750px;

}


#fp_row2 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-left: 30px;
	margin-top: 35px;
	width: 750px;

}

#_idContainer001 {
	padding: 5px 5px 0 5px;
}

#_idContainer000,
#_idContainer032,
#_idContainer050,
#_idContainer069 {
	display: inline-block;
	height: 732px;
	width: 254px;
}

#_idContainer002 {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	height: 35px;
	position: relative;
	width: 308px;
	align-items: center;
}

#_idContainer004 {
	margin: 10px 0 15px 0;

}

#_idContainer034,
#_idContainer052,
#_idContainer071 {
	display: inline-block;
	height: 35px;
	position: relative;
	width: 308px;
}



#_idContainer010,
#_idContainer041,
#_idContainer060,
#_idContainer079 {
	display: inline-block;
	height: 732px;
	position: relative;
	width: 0px;
}

#_idContainer011,
#_idContainer042,
#_idContainer061,
#_idContainer080 {
	display: inline-block;
	height: 263px;
	position: relative;
	width: 803px;
}

#_idContainer012,
#_idContainer043,
#_idContainer062,
#_idContainer081 {
	display: inline-block;
	height: 578px;
	position: relative;
	width: 767px;
}

#_idContainer013,
#_idContainer044,
#_idContainer064,
#_idContainer082 {
	display: inline-block;
	height: 578px;
	position: relative;
	width: 602px;
}

#_idContainer015,
#_idContainer016 {
	display: inline-block;
	height: 226px;
	position: relative;
	width: 293px;
}

#_idContainer017,
#_idContainer018 {
	display: inline-block;
	height: 226px;
	position: relative;
	width: 294px;
}

#_idContainer019,
#_idContainer046,
#_idContainer066,
#_idContainer083 {
	-ms-transform: translate(0.000px, 6.946px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	-ms-transform-origin: 0% 0%;
	-webkit-transform: translate(0.000px, 6.946px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	-webkit-transform-origin: 0% 0%;
	height: 3.84px;
	left: 0px;
	position: absolute;
	top: 0px;
	transform: translate(0.000px, 6.946px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	transform: translate(0.000px, 6.946px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	width: 3.84px;
	z-index: 1;
}

#_idContainer020,
#_idContainer047,
#_idContainer067,
#_idContainer084 {
	-ms-transform: translate(15.141px, -0.001px) rotate(90.000deg) skew(0.000deg) scale(1.000, 1.000);
	-ms-transform-origin: 0% 0%;
	-webkit-transform: translate(15.141px, -0.001px) rotate(90.000deg) skew(0.000deg) scale(1.000, 1.000);
	-webkit-transform-origin: 0% 0%;
	height: 4.35px;
	left: 0px;
	position: absolute;
	top: 0px;
	transform: translate(15.141px, -0.001px) rotate(90.000deg) skew(0.000deg) scale(1.000, 1.000);
	transform: translate(15.141px, -0.001px) rotate(90.000deg) skew(0.000deg) scale(1.000, 1.000);
	transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	width: 10.82px;
	z-index: 0;
}

#_idContainer021,
#_idContainer048,
#_idContainer068,
#_idContainer085 {
	display: inline-block;
	height: 18px;
	position: relative;
	width: 15px;
}

#_idContainer023 {
	display: inline-block;
	height: 714px;
	width: 254px;
}

#_idContainer025 {
	display: inline-block;
	height: 35px;
	position: relative;
	width: 832px;
}

#_idContainer031 {
	display: inline-block;
	height: 696px;
	position: relative;
	width: 0px;
}

#_idContainer039 {
	display: inline-block;
	height: 0px;
	position: relative;
	width: 59px;
}

#_idContainer045 {
	display: inline-block;
	height: 996px;
	width: 524px;
}

#_idContainer049 {
	display: inline-block;
	height: 29px;
	width: 140px;
}

#_idContainer056,
#_idContainer075 {
	-ms-transform: translate(0.000px, 0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	-ms-transform-origin: 0% 0%;
	-webkit-transform: translate(0.000px, 0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	-webkit-transform-origin: 0% 0%;
	height: 20.50px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	transform: translate(0.000px, 0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	transform: translate(0.000px, 0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	width: 94.00px;
	z-index: 0;
}

#_idContainer057,
#_idContainer076 {
	-ms-transform: translate(0.000px, 15.250px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	-ms-transform-origin: 0% 0%;
	-webkit-transform: translate(0.000px, 15.250px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	-webkit-transform-origin: 0% 0%;
	height: 0.00px;
	left: 0px;
	position: absolute;
	top: 0px;
	transform: translate(0.000px, 15.250px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	transform: translate(0.000px, 15.250px) rotate(0.000deg) skew(0.000deg) scale(1.000, 1.000);
	transform-origin: 0% 0%;
	transform-origin: 0% 0%;
	width: 59.00px;
	z-index: 1;
}

#_idContainer058,
#_idContainer077 {
	display: inline-block;
	height: 20px;
	position: relative;
	width: 94px;
}

#_idContainer063 {
	display: inline-block;
	height: 586px;
	width: 308px;
}

#_idContainer065 {
	display: inline-block;
	height: 455px;
	width: 218px;
}

._idGenObjectAttribute-1 {
	background-image: url("headshot.png");
	max-width: 100%;
	height: auto;
}

div._idGenObjectStyleOverride-1 {
	border-width: 0px;
	justify-content: space-around;
}

div._idGenObjectStyleOverride-2 {
	background-color: #000000;
	border-width: 0px;
}

div._idGenObjectStyleOverride-3 {
	border-color: #ffffff;
}

div._idGenObjectStyleOverride-4 {
	border-width: 1px;
}

div._idGenObjectStyleOverride-5 {
	background-color: #ffffff;
	border-width: 0px;
}

div._idGenObjectStyleOverride-6 {
	background-color: #ffffff;
	border-color: #4c4c4c;
	border-width: 1px;
}

div._idGenObjectStyleOverride-7 {
	background-color: #000000;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-width: 0px;
}

div._idGenObjectStyleOverride-8 {
	border-bottom-left-radius: 1px;
	border-bottom-right-radius: 1px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;
	border-width: 4px;
}

div._idGenObjectStyleOverride-9 {
	border-color: #696969;
	border-style: solid;
	border-width: 1px;
}